body{
    font-family:$font-family ;
    overflow-x: hidden;
    background-color: $main-color;
}
button,
button:focus,
button:focus-visible,
input:focus-visible,
.form-control:focus,
select:focus-visible,
.form-select:focus
{
    outline: 0!important;
    box-shadow: none!important;
}